.headerWrp {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: white;
  padding: 1em 2em 1em;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;

  .status {
    display: flex;
    font-weight: normal;
    font-size: 0.8em;

    .statusInput {
      font-family: inherit;
      font-style: italic;
      resize: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .icon {
      font-size: 1.1em;
      color: gray;
    }
  }
}

.logoutBtn,
.logoutBtn:hover {
  border: none;
  box-shadow: none;
}

.menuBtn {
  color: gray;
  &:hover {
    color: black !important;
  }
}
