.profile {
  display: grid;
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 0 0;

  .imgWrapper {
    position: relative;

    label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .imgBtn {
      position: absolute;
      bottom: 5%;
      right: 8%;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      padding: 0;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.3);

      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }

      .imgIcon {
        position: absolute;
        top: 9px;
        left: 9px;
        color: white;
      }
    }
  }

  .inputWrapper {
    position: relative;
    display: grid;

    .errorMessage {
      position: absolute;
      bottom: 0;
      color: #df1c3d;
      margin-bottom: -20px;
    }

    textarea {
      margin: 0;
    }
  }
}
