.reactedList {
  position: absolute;
  left: 0;
  min-width: 150px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .85);
  color: rgba(210, 209, 209, 0.87);

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}
