.container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.switch {
  background-color: rgba(black, 0.05);
  border: none;
  border-radius: 5rem;
  margin-right: 15px;
  position: relative;
  height: 1.5rem;
  width: 3.5rem;
  outline: none;
  appearance: none;
  transition: 0.3s;
}

.switch:hover {
  background-color: rgba(black, 0.1);
}

.switch::after {
  content: '';
  background: #fff linear-gradient(transparent, rgba(0, 0, 0, 0.05));
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%),
    0 0 0 1px rgb(34 36 38 / 15%) inset;
  display: inline-block;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateX(0);
  transition: 0.3s;
}

.switch:checked {
  background-color: #2185d0;
}

.switch:disabled {
  background-color: rgba(black, 0.2);
}

.switch:checked::after {
  transform: translateX(calc(100% + 0.6rem));
}
