.title {
  color: #00b5ad;
}

.fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 10px;
  border: none;
}

.error {
  position: absolute;
  top: 40px;
  font-size: 0.8rem;
  color: #df1c3d;
}

.success {
  padding: 20px;
}
